header {
	background-color: green;
	border-bottom: solid; 
	border-color: #cccccc;
}

nav {

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: right;
	background-color: 
}

footer {
	background-color: #666666;
}